<div id="projects" class="Projects">
  <h2 class="ProjectHeader">Recent projects</h2>
  <p class="ProjectParagraf">
    I started my frontend developer path in 2020. Since then, I’ve built
    multiple projects. Here’s the list of some of the things I’ve done so far.
  </p>
  <div class="ProjectsGap" *ngIf="data && data.length > 0">
    <div class="ProjectsGitHubCards">
      <app-github-card
        *ngFor="let project of data | slice : 0 : 2"
        [description]="project.description"
        [project]="project.name"
        [link]="project.html_url"
        [website]="project.homepage"
      ></app-github-card>
    </div>
    <div class="ProjectsGitHubCards">
        
        <app-github-card
        *ngFor="let project of data | slice : 2 : 4"
        [description]="project.description"
        [project]="project.name"
        [link]="project.html_url"
        [website]="project.homepage"
      ></app-github-card>
    </div>
    <div class="ProjectsGitHubCards">
        
        <app-github-card
        *ngFor="let project of data | slice : 4 : 6"
        [description]="project.description"
        [project]="project.name"
        [link]="project.html_url"
        [website]="project.homepage"
      ></app-github-card>
    </div>
  </div>
</div>
