<div class="Header">
    <div class="HeaderHello">
        <div class="HeaderSpeechClouds">
            <header class="HeaderSpeechCloud">
                <h1 >Hey there! 👋</h1>
            </header>
            <div>

            </div>
            <img [src]="'assets/svg/speech-cloud.svg'" alt="speech cloud" class="HeaderSpeechCloudEnd" />
        </div>

        <div class="HeaderImageGrid">
            <img [src]="'assets/img/tomaszjader.png'" class="HeaderImage" />
        </div>
    </div>
    
    <div class='HeaderContent'>
        <img class='HeaderBrackets' [src]="'assets/svg/bracket-left.svg'" alt="bracket left" />
        <div class="HeaderText">
            <h2 class="HeaderTextCenter HeaderTextMargin">My name is Tomasz and I’m a <br /><strong class='HeaderDev'>Fullstack developer</strong> and AI fan. </h2>
            <p class="HeaderParagraf HeaderTextCenter">You might be interested in checking the list of <a class='HeaderLinks' href="#skills">my skills</a>. Don’t forget to  have a glimpse at<br /><a href="#projects" class='HeaderLinks'>my projects</a>. Currently I’m looking for new challenges so if you have one - <a href="#contact" class='HeaderLinks'>contact me</a> 😊</p>

        </div>
        <img class='HeaderBrackets' [src]="'assets/svg/bracket-right.svg'"  alt="bracket right" />
    </div>


    <a href="mailto:tomasz.jader@gmail.com" class="Sent-button">tomasz.jader@gmail.com</a>
</div>
