<div id='contact' class='App'>
    <h2 class='App-header'>
        Contact me
    </h2>
    <p class='App-concret'>
        I’m open to new opportunities. If you have one for me we should talk!
    </p>
    <div class='Social-buttons'>
        <div class='FooterSocialButtons'>
            <a href='https://www.linkedin.com/in/tomasz-j%C4%85der-a25427200/' target='_blank' class='Social-button'>
                <img  [src] ="'assets/svg/linkedin.svg'" />
            </a>
            <a href='https://www.instagram.com/leonardo_davidoff/' target='_blank' class='Social-button'>
                <img   [src] ="'assets/svg/instagram.svg'"/>
            </a>
            <a href='https://github.com/tomaszjader' target='_blank' class='Social-button'>
                <img  [src] ="'assets/svg/github-blue.svg'"/>
            </a>
        </div>


        <a href="mailto:tomasz.jader@gmail.com" class='Sent-button'>tomasz.jader@gmail.com</a>
    </div>


</div>
