@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');
.App {
    background: #DBEAF7;
    color: #234361;
    min-height: 348px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito';
    
    
    
}

.App-concret {
    color: #425A70;
    font-weight: 300;
}

.Sent-button {
    background: #4DA8FF;
    border-radius: 64px;
    color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    
}

.Social-button {
    width: 48px;
    height: 48px;


    /* White */

    background: #FFFFFF;
    /* SocialIconsShadow */

    box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.Social-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 128px;
    margin-bottom: 176px;

}
.App-header {
    font-size: 48px;
}
.FooterSocialButtons {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 1121px) { 
    .Social-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 128px;
        margin-bottom: 176px;
    
    }
}